:root {
  --backgroundColor: #f0fff0;
  --textColor: #000B00;
  --textSecondColor: #f0fff0;
  --textHoverColor: #1c754d;
  --headerHight: 50px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: var(--textColor);
  outline: none;
  transition: .3s;
  font-family: Arial, Helvetica, sans-serif;
  /* border: solid 1px red; */
}

body {
  background-color: var(--backgroundColor);
  font-size: 16px;
}

main {
  background-color: var(--backgroundColor);
  margin-top: var(--headerHight);
}