.main {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0 30px 0;
}
.title {
    font-size: 2rem;
    margin: 50px 0;
}
.span {
    font-weight: bold;
}
.modif {
    color: #0050ff;
}
.modif:hover, .modif:focus {
    cursor: pointer;
    text-decoration: underline;
}

@media (max-width: 650px){
    .title {
        font-size: 1.5rem;
    }
    .container {
        width: initial;
        flex-direction: column;
    }
    .container p {
        text-align: center;
    }
}